* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #45454d;
}

.clock {
  width: 200px;
  height: 200px;
  border: 15px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1),
  0 0 5px rgba(0, 0, 0, .7);
  position: relative;
  background-image: url(/clock_face.png);
  background-size: cover;
  background-position: center;
}

.clock::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hours, .minutes, .seconds {
  background-color: black;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: bottom;
}

.hours {
  width: 5px;
  height: 50px;
}

.minutes {
  width: 3px;
  height: 60px;
}

.seconds {
  width: 1px;
  height: 70px;
  background-color: red;
}
